@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, thank you for visiting us</h1>
    <p>If you want to start the conversation with us <a class="nav-link text-dark" asp-area="" asp-controller="Contactmessage" asp-action="Create">Click here</a>.</p>
    
</div>
